@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto+Slab:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.fixed-view {
  position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

body {
  font-family: 'Roboto', monospace;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47CFAC;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

.main-view {
  background: rgba(0, 0, 0, 0.3) url('/assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

main .main-content {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-view section p {
  font-family: 'Roboto mono', monospace;
  color: white;
  font-size: 2.7rem;
  letter-spacing: 10px;
  text-align: center;
}

.btn-primary {
  width: 170px;
  height: 55px;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #47CFAC;
}

.blogs-main {
  display: grid;
}

.blogs-news-container {
  background-color: #E6E9ED;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
}

.blogs-new-info-container {
  grid-column: 2;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
  color: black;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #CDD2DA;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-button {
  border: 2px solid #47CFAC;
  padding: 10px 15px;
  font-size: 13px;
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272D;
  border-top: 35px solid #47CFAC;
}

footer p {
  color: white;
  margin-top: 30px;
  text-align: center;
}
